<header> 
    <div class="ms-3">
        <div class="row">
            <div class="col-4 ms-2 text-light bg-success p-2 rounded border border-light">
                <h3><i class="fa-solid fa-clipboard-list"></i>Employee Review System</h3>
            </div>
        </div>
    </div>
</header>