<link rel="stylesheet" href="/CSS/signinSignup.css">

<aside>
    <a href="/user/signUp"><button class="btn-right" type="submit"><i><b>SIGN UP</b></i></button></a>
    <div class="mt-5">
        <form action="/user/loginUser" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter Your email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
            <div>
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</aside>
<div>
    <div>
        <h2 class="center">Employee Review System</h2>
    </div>
    <img src="https://img.freepik.com/free-vector/employer-meeting-job-applicant-pre-employment-assessment-employee-evaluation-assessment-form-report-performance-review-concept-illustration_335657-2058.jpg" alt="image">
</div>