<div>
    <form action="/user/loginUser" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Enter Your email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div>
        <h2>------------------ OR ---------------------</h2>
    </div>
    <div>
        <a href="/user/signUp"><button type="submit">Sign Up</button></a>
    </div>
</div>