body{
    background-image: url('https://www.247hrm.com/wp-content/uploads/2016/07/tech-background-image-2.jpg');
}

.wrapper{
    background-color: rgba(255, 255, 255, 0.322); 
    height: 35.5rem;
    padding: 20px 0px 0px 0px;
}

.backgroundHeader{
    background-color: #354259;
}

.wrapper1{
    background-color: rgba(255, 255, 255, 0.322); 
    height: 110vh;
    padding: 20px 0px 0px 0px;
}

button{
    margin: 10px;
    padding: 1px;
    width: 10rem;
}

input{
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 3rem;
}

.feedback-btn{
    /* text-align: center; */
    border: solid 1px green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: green;
    font-size: 1.5rem;
    padding: 10px;
    background-color: white
}

.feedback-btn:hover{
    color: white;
    background-color: green;
}